#body
{
background-color:Gray;
}
#divLogin
{
float:left;
position: absolute;
top: 50%;
left: 50%;
height: 400px;
width: 300px;
margin-top: -200px;
margin-left: -150px; 
text-align:center;
border-style:double;
background-color:White;
}
#lblCompany
{
font-family:Lucida Console;
font-size:x-large;
color:Gray;
}
.textbox
{
color:Gray;    
border: 1px solid;
width:85%;
height:10%;
}
.textbox:focus
{
color:Black;    
border: 1px solid;
width:85%;
height:10%;
}
.button
{
width:50%;
height:10%;   
}
.label
{
color:Gray;
font-family:Times New Roman;
font-size:small;   
}
.ForgotPassword
{
font-family:Times New Roman;
font-size:small;
}