#body
{
background-color:Gray;
}
#divInviteOwners
{
float:left;
position: absolute;
top: 17%;
left: 25%;
height: 610px;
width: 590px;
text-align:center;
border-style:double;
background-color:blue;
}
#lblCompany
{
font-family:Lucida Console;
font-size:x-large;
color:Gray;
}
.textbox1
{
color:Gray;    
border: 1px solid;
width:125px;
height:25px;
}
.textbox1:focus
{
color:Black;    
border: 1px solid;
width:125px;
height:25px;
}
.textbox2
{
color:Gray;    
border: 1px solid;
width:200px;
height:25px;
}
.textbox2:focus
{
color:Black;    
border: 1px solid;
width:200px;
height:25px;
}
.button
{
width:175px;
height:25px;   
}
.label
{
color:snow;
font-family:Times New Roman;
font-size:medium;   
}
.label1
{
color:snow;
font-family:Times New Roman;
font-size:medium; 
text-align:left;  
}
.label2
{
color:snow;
font-family:Times New Roman;
font-size:medium; 
text-align:left;  
}
